<html>
	<head>
		<title>Diana's blog</title>
	</head>
<body>
	<div>
		<a href="https://djangogirls.org">link</a>
	</div>	

	<div>
		<p>published: 20.01.2019, 15:48</p>
		<h2><a href="">My first post</a></h2>
		<p>The blog about everything and nothing but mainly my struggles with the very first code and bugs</p>
	</div>

	<div>
		<p>published 20.01.2019, 15:52</p>
		<h2><a href="">My second post</a></h2>
		<p>So far everything is working. We anticipate a disaster any time soon</p>
	</div>
</body>
</html>